<a href="https://colab.research.google.com/github/teguhprastyopy/machine-learning/blob/main/data_preprocessing_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# import

In [81]:
import pandas as pd
import numpy as np

# manual binning

In [15]:
values_nama = ['joko','jono','giorno','joseph','jotaro','jonathan']
values_status_r = ['kontrak','milik','kontrak','kontrak','milik','kontrak']
values_gaji_ot = [2100000,4000000,1400000,700000,650000,450000]
values_keterangan = ['','','','','','']

df = pd.DataFrame({
    'nama' : values_nama,
    'status rumah' : values_status_r,
    'gaji orang tua' : values_gaji_ot,
    'keterangan' : values_keterangan
    })

df.head(6)

       nama status rumah  gaji orang tua keterangan
0      joko      kontrak         2100000
1      jono        milik         4000000
2    giorno      kontrak         1400000
3    joseph      kontrak          700000
4    jotaro        milik          650000
5  jonathan      kontrak          450000

In [8]:
batas_bin = [0,1400000,4000000]
kategori = ['kecil','besar']

df['gaji_binned_1'] = pd.cut(df['gaji orang tua'], bins=batas_bin, labels=kategori)

In [9]:
print(df)

       nama status rumah  gaji orang tua keterangan gaji_binned_1
0      joko      kontrak         2100000                    besar
1      jono        milik         4000000                    besar
2    giorno      kontrak         1400000                    kecil
3    joseph      kontrak          700000                    kecil
4    jotaro        milik          650000                    kecil
5  jonathan      kontrak          450000                    kecil

# linspace

In [12]:
bins = np.linspace(
    min(df['gaji orang tua']), 
    max(df['gaji orang tua']), 3)
print(bins)

[ 450000. 2225000. 4000000.]

In [13]:
kategori = ['kecil','besar']

In [14]:
df['gaji_binned'] = pd.cut(df['gaji orang tua'], bins=bins, labels=kategori, include_lowest=True)
print(df)

       nama status rumah  gaji orang tua keterangan gaji_binned
0      joko      kontrak         2100000                  kecil
1      jono        milik         4000000                  besar
2    giorno      kontrak         1400000                  kecil
3    joseph      kontrak          700000                  kecil
4    jotaro        milik          650000                  kecil
5  jonathan      kontrak          450000                  kecil

# quantile

In [16]:
df['gaji_binned3'] = pd.cut(df['gaji orang tua'], 2)
print(df)

       nama status rumah  gaji orang tua keterangan            gaji_binned3
0      joko      kontrak         2100000              (446450.0, 2225000.0]
1      jono        milik         4000000             (2225000.0, 4000000.0]
2    giorno      kontrak         1400000              (446450.0, 2225000.0]
3    joseph      kontrak          700000              (446450.0, 2225000.0]
4    jotaro        milik          650000              (446450.0, 2225000.0]
5  jonathan      kontrak          450000              (446450.0, 2225000.0]

In [17]:
kategori = ['kecil', 'besar']
df['gaji_binned3'] = pd.qcut(df['gaji orang tua'], q=2, labels=kategori)
print(df)

       nama status rumah  gaji orang tua keterangan gaji_binned3
0      joko      kontrak         2100000                   besar
1      jono        milik         4000000                   besar
2    giorno      kontrak         1400000                   besar
3    joseph      kontrak          700000                   kecil
4    jotaro        milik          650000                   kecil
5  jonathan      kontrak          450000                   kecil

# feature engineering

## imputation

In [29]:
values_nama = ['joko','jono','giorno','joseph','jotaro','jonathan']
values_status_r = ['kontrak','milik','kontrak','kontrak','milik','kontrak']
values_gaji_ot = [None,4000000,1400000,700000,None,450000]
values_keterangan = ['diterima','ditolak','ditolak','diterima','diterima','diterima']

df = pd.DataFrame({
    'nama' : values_nama,
    'status rumah' : values_status_r,
    'gaji orang tua' : values_gaji_ot,
    'keterangan' : values_keterangan
    })

df.head(6)

       nama status rumah  gaji orang tua keterangan
0      joko      kontrak             NaN   diterima
1      jono        milik       4000000.0    ditolak
2    giorno      kontrak       1400000.0    ditolak
3    joseph      kontrak        700000.0   diterima
4    jotaro        milik             NaN   diterima
5  jonathan      kontrak        450000.0   diterima

In [21]:
df = df.fillna(0)

In [28]:
df = df.fillna(df.median())
df.head()

<ipython-input-28-abfaba4eaad7>:1: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df = df.fillna(df.median())

     nama status rumah  gaji orang tua keterangan
0    joko      kontrak       1050000.0   diterima
1    jono        milik       4000000.0    ditolak
2  giorno      kontrak       1400000.0    ditolak
3  joseph      kontrak        700000.0   diterima
4  jotaro        milik       1050000.0   diterima

In [30]:
df['gaji orang tua'].fillna(df['gaji orang tua'].value_counts().idxmax(), inplace=True)

In [31]:
df.head()

     nama status rumah  gaji orang tua keterangan
0    joko      kontrak       4000000.0   diterima
1    jono        milik       4000000.0    ditolak
2  giorno      kontrak       1400000.0    ditolak
3  joseph      kontrak        700000.0   diterima
4  jotaro        milik       4000000.0   diterima

## One hot encoding

In [32]:
from sklearn.preprocessing import OneHotEncoder

In [109]:
v_ID = [11101,11102,11103,11104,11105,11106]
v_nama_produk = ['tomat','apel','pisang','semangka','melon','jeruk']

df = pd.DataFrame({
    'ID' : v_ID,
    'Nama Produk' : v_nama_produk,
    })

df.head()

      ID Nama Produk
0  11101       tomat
1  11102        apel
2  11103      pisang
3  11104    semangka
4  11105       melon

In [110]:
y = OneHotEncoder(sparse=False)
y = y.fit_transform(df[['Nama Produk']])
y

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

array([[0., 0., 0., 0., 0., 1.],
       [1., 0., 0., 0., 0., 0.],
       [0., 0., 0., 1., 0., 0.],
       [0., 0., 0., 0., 1., 0.],
       [0., 0., 1., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.]])

In [113]:
data_y = pd.DataFrame(y)
data_y

     0    1    2    3    4    5
0  0.0  0.0  0.0  0.0  0.0  1.0
1  1.0  0.0  0.0  0.0  0.0  0.0
2  0.0  0.0  0.0  1.0  0.0  0.0
3  0.0  0.0  0.0  0.0  1.0  0.0
4  0.0  0.0  1.0  0.0  0.0  0.0
5  0.0  1.0  0.0  0.0  0.0  0.0

In [114]:
print(df['Nama Produk'].sort_values(), '\n', type(df['Nama Produk'].sort_values()))

1        apel
5       jeruk
4       melon
2      pisang
3    semangka
0       tomat
Name: Nama Produk, dtype: object
 <class 'pandas.core.series.Series'>

In [37]:
header = df['Nama Produk'].sort_values()
data_y.columns = 'Produk_'+header
data_y

Nama Produk,Produk_apel,Produk_jeruk,Produk_melon,Produk_pisang,Produk_semangka,Produk_tomat
0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,1.0,0.0,0.0
3,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0
5,0.0,1.0,0.0,0.0,0.0,0.0

In [38]:
data_join = df.join(data_y)
data_join

,ID,Nama Produk,Produk_apel,Produk_jeruk,Produk_melon,Produk_pisang,Produk_semangka,Produk_tomat
0,11101,tomat,0.0,0.0,0.0,0.0,0.0,1.0
1,11102,apel,1.0,0.0,0.0,0.0,0.0,0.0
2,11103,pisang,0.0,0.0,0.0,1.0,0.0,0.0
3,11104,semangka,0.0,0.0,0.0,0.0,1.0,0.0
4,11105,melon,0.0,0.0,1.0,0.0,0.0,0.0
5,11106,jeruk,0.0,1.0,0.0,0.0,0.0,0.0

# feature selection

In [82]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import OneHotEncoder

In [118]:
df = pd.read_csv('cardata-germany-dataset.csv')
df.head()

   mileage        make   model      fuel    gear offerType  price     hp  year
0   235000         BMW     316    Diesel  Manual      Used   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual      Used   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual      Used   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual      Used   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual      Used   6950  156.0  2011

In [119]:
_shape = df.shape
_dtypes = df.dtypes
print(f'shape of df : {_shape}\ndtypes of df : {_dtypes}')

shape of df : (46405, 9)
dtypes of df : mileage        int64
make          object
model         object
fuel          object
gear          object
offerType     object
price          int64
hp           float64
year           int64
dtype: object

In [120]:
df = df.drop('offerType', axis=1)
df.head()

   mileage        make   model      fuel    gear  price     hp  year
0   235000         BMW     316    Diesel  Manual   6800  116.0  2011
1    92800  Volkswagen    Golf  Gasoline  Manual   6877  122.0  2011
2   149300        SEAT    Exeo  Gasoline  Manual   6900  160.0  2011
3    96200     Renault  Megane  Gasoline  Manual   6950  110.0  2011
4   156000     Peugeot     308  Gasoline  Manual   6950  156.0  2011

In [121]:
make_model = pd.DataFrame({
    'make' : df['make'].astype(str), 
    'model' :df['model'].astype(str)
})
make_model.head()

         make   model
0         BMW     316
1  Volkswagen    Golf
2        SEAT    Exeo
3     Renault  Megane
4     Peugeot     308

In [122]:
df = df.drop(['make','model'], axis=1)
df.head()

   mileage      fuel    gear  price     hp  year
0   235000    Diesel  Manual   6800  116.0  2011
1    92800  Gasoline  Manual   6877  122.0  2011
2   149300  Gasoline  Manual   6900  160.0  2011
3    96200  Gasoline  Manual   6950  110.0  2011
4   156000  Gasoline  Manual   6950  156.0  2011

In [123]:
df = df.dropna()
df.head

<bound method NDFrame.head of        mileage               fuel    gear  price     hp  year
0       235000             Diesel  Manual   6800  116.0  2011
1        92800           Gasoline  Manual   6877  122.0  2011
2       149300           Gasoline  Manual   6900  160.0  2011
3        96200           Gasoline  Manual   6950  110.0  2011
4       156000           Gasoline  Manual   6950  156.0  2011
...        ...                ...     ...    ...    ...   ...
46400       99  Electric/Gasoline  Manual  12990   71.0  2021
46401       99  Electric/Gasoline  Manual  12990   71.0  2021
46402       99  Electric/Gasoline  Manual  12990   71.0  2021
46403       99  Electric/Gasoline  Manual  12990   71.0  2021
46404       99  Electric/Gasoline  Manual  12990   71.0  2021

[46197 rows x 6 columns]>

In [127]:
fuel_unique = pd.DataFrame(df['fuel'].sort_values().unique())
fuel_unique = fuel_unique.replace({r'[^\w]':''}, regex=True)
print(fuel_unique)

gear_unique = pd.DataFrame(df['gear'].sort_values().unique())
print(gear_unique)

                   0
0               Fuel
1                CNG
2             Diesel
3           Electric
4     ElectricDiesel
5   ElectricGasoline
6            Ethanol
7           Gasoline
8           Hydrogen
9                LPG
10            Others
                0
0       Automatic
1          Manual
2  Semi-automatic

In [128]:
fu_1hot = OneHotEncoder(sparse=False)
fu_1hot = fu_1hot.fit_transform(fuel_unique)

fu_1hot = pd.DataFrame(fu_1hot)
header = fuel_unique
fu_1hot.columns = header
fu_1hot.head()

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

,"(Fuel,)","(CNG,)","(Diesel,)","(Electric,)","(ElectricDiesel,)","(ElectricGasoline,)","(Ethanol,)","(Gasoline,)","(Hydrogen,)","(LPG,)","(Others,)"
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [129]:
gu_1hot = OneHotEncoder(sparse=False)
gu_1hot = gu_1hot.fit_transform(gear_unique)

gu_1hot = pd.DataFrame(gu_1hot)
header = gear_unique
gu_1hot.columns = header
gu_1hot.head()

/usr/local/lib/python3.10/dist-packages/sklearn/preprocessing/_encoders.py:868: FutureWarning: `sparse` was renamed to `sparse_output` in version 1.2 and will be removed in 1.4. `sparse_output` is ignored unless you leave `sparse` to its default value.
  warnings.warn(

   (Automatic,)  (Manual,)  (Semi-automatic,)
0           1.0        0.0                0.0
1           0.0        1.0                0.0
2           0.0        0.0                1.0

In [132]:
data_join = df.join([fu_1hot,gu_1hot])
data_join.head()

,mileage,fuel,gear,price,hp,year,"(Fuel,)","(CNG,)","(Diesel,)","(Electric,)","(ElectricDiesel,)","(ElectricGasoline,)","(Ethanol,)","(Gasoline,)","(Hydrogen,)","(LPG,)","(Others,)","(Automatic,)","(Manual,)","(Semi-automatic,)"
0,235000,Diesel,Manual,6800,116.0,2011,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
1,92800,Gasoline,Manual,6877,122.0,2011,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,149300,Gasoline,Manual,6900,160.0,2011,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,96200,Gasoline,Manual,6950,110.0,2011,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,156000,Gasoline,Manual,6950,156.0,2011,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [39]:

X = df.iloc[:,0:10]
y = df.iloc[:,1]
print(f'value of x : {X}\nvalue of y : {y}')

value of x :                                 model    price  rating  \
0                       OnePlus 11 5G  54,999    89.0
1           OnePlus Nord CE 2 Lite 5G  19,989    81.0
2               Samsung Galaxy A14 5G  16,499    75.0
3                Motorola Moto G62 5G  14,999    81.0
4                  Realme 10 Pro Plus  24,999    82.0
...                               ...      ...     ...
1015       Motorola Moto Edge S30 Pro  34,990    83.0
1016                      Honor X8 5G  14,990    75.0
1017  POCO X4 GT 5G (8GB RAM + 256GB)  28,990    85.0
1018             Motorola Moto G91 5G  19,990    80.0
1019           Samsung Galaxy M52s 5G  24,990    74.0

                                                    sim  \
0               Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC
1                    Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
2                    Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
3                    Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
4                    Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
...                                                 ...
1015                 Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
1016                 Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi
1017  Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC, IR Bl...
1018            Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi, NFC
1019                 Dual Sim, 3G, 4G, 5G, VoLTE, Wi-Fi

                                            processor  \
0     Snapdragon 8 Gen2, Octa Core, 3.2GHz Processor
1        Snapdragon 695, Octa Core, 2.2GHz Processor
2           Exynos 1330, Octa Core, 2.4GHz Processor
3       Snapdragon  695, Octa Core, 2.2GHz Processor
4        Dimensity 1080, Octa Core, 2.6GHz Processor
...                                               ...
1015    Snapdragon 8 Gen1, Octa Core, 3GHz Processor
1016   Snapdragon  480+, Octa Core, 2.2GHz Processor
1017    Dimensity 8100, Octa Core, 2.85GHz Processor
1018     Snapdragon 695, Octa Core, 2.2GHz Processor
1019                              Octa Core Processor

                            ram                                    battery  \
0     12GB RAM, 256GB inbuilt   5000mAh Battery with 100W Fast Charging
1      6GB RAM, 128GB inbuilt    5000mAh Battery with 33W Fast Charging
2       4GB RAM, 64GB inbuilt    5000mAh Battery with 15W Fast Charging
3      6GB RAM, 128GB inbuilt        5000mAh Battery with Fast Charging
4      6GB RAM, 128GB inbuilt    5000mAh Battery with 67W Fast Charging
...                         ...                                        ...
1015   8GB RAM, 128GB inbuilt  5000mAh Battery with 68.2W Fast Charging
1016   6GB RAM, 128GB inbuilt  5000mAh Battery with 22.5W Fast Charging
1017   8GB RAM, 256GB inbuilt    5080mAh Battery with 67W Fast Charging
1018   6GB RAM, 128GB inbuilt        5000mAh Battery with Fast Charging
1019   8GB RAM, 128GB inbuilt        5000mAh Battery with Fast Charging

                                                display  \
0     6.7 inches, 1440x3216px, 120 Hz Display wit...
1     6.59 inches, 1080x2412px, 120 Hz Display wi...
2     6.6 inches, 1080x2408px, 90 Hz Display with...
3     6.55 inches, 1080x2400px, 120 Hz Display wi...
4     6.7 inches, 1080x2412px, 120 Hz Display wit...
...                                                 ...
1015  6.67 inches, 1080x2460px, 120 Hz Display wi...
1016  6.5 inches, 720x1600px Display with Water D...
1017  6.6 inches, 1080x2460px, 144 Hz Display wit...
1018  6.8 inches, 1080x2400px Display with Punch ...
1019  6.5 inches, 1080x2400px Display with Water ...

                                                 camera  \
0     50MP + 48MP + 32MP Triple Rear & 16MP Fron...
1     64MP + 2MP + 2MP Triple Rear & 16MP Front ...
2     50MP + 2MP + 2MP Triple Rear & 13MP Front ...
3     50MP + 8MP + 2MP Triple Rear & 16MP Front ...
4     108MP + 8MP + 2MP Triple Rear & 16MP Front...
...                                                 ...
1015  64MP + 8MP + 2MP Triple Rear & 16MP Front ...
1016  48MP + 2MP + Depth Sensor Triple Rear & 8MP...
1017  64MP + 8MP + 2MP Triple Rear & 16MP Front ...
1018  108MP + 8MP + 2MP Triple Rear & 32MP Front...
1019  64MP + 8MP + 5MP Triple Rear & 32MP Front ...

                                  card
0            Memory Card Not Supported
1      Memory Card (Hybrid), upto 1TB
2     Memory Card Supported, upto 1TB
3      Memory Card (Hybrid), upto 1TB
4            Memory Card Not Supported
...                                ...
1015                       Android v12
1016  Memory Card Supported, upto 1TB
1017         Memory Card Not Supported
1018  Memory Card Supported, upto 1TB
1019  Memory Card Supported, upto 1TB

[1020 rows x 10 columns]
value of y : 0       54,999
1       19,989
2       16,499
3       14,999
4       24,999
         ...
1015    34,990
1016    14,990
1017    28,990
1018    19,990
1019    24,990
Name: price, Length: 1020, dtype: object

In [41]:
bestfeatures = SelectKBest(score_func=chi2, k=5)
fit = bestfeatures.fit(X,y)

ValueError: ignored

# KITA REHAT. LANJUTKAN DI DATA_PREPROCESSING_2